argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
astroid==2.6.6
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
bandit==1.6.2
build==1.2.1
cffi==1.16.0
channels==4.1.0
colorama==0.4.6
constantly==23.10.4
crispy-bootstrap4==2024.1
cryptography==42.0.8
daphne==4.1.2
data==0.4
decorator==5.1.1
Django==5.0.6
django-auth-ldap==4.8.0
django-crispy-forms==2.1
django-prometheus==2.3.1
django-ratelimit==4.1.0
django-stubs==5.0.2
django-stubs-ext==5.0.2
django_csp==3.8
freezegun==1.5.1
funcsigs==1.0.2
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
isort==5.13.2
latex==0.7.0
lazy-object-proxy==1.10.0
mccabe==0.6.1
packaging==24.1
pbr==6.0.0
pillow==10.3.0
prometheus_client==0.20.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pylint==2.8.0
pylint-django==2.4.4
pylint-plugin-utils==0.8.2
pyOpenSSL==24.1.0
pypng==0.20220715.0
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-ldap @ file:///C:/Users/Damilare/Documents/src/wahlfang/python_ldap-3.4.4-cp311-cp311-win_amd64.whl#sha256=032bd9edcf30f6f462eedf5b183127d7dbaa0cb11f04de7c847f6d3e7a4baea0
PyYAML==6.0.1
qrcode==7.4.2
service-identity==24.1.0
shutilwhich==1.1.0
six==1.16.0
smmap==5.0.1
sqlparse==0.5.0
stevedore==5.2.0
tempdir==0.7.1
toml==0.10.2
Twisted==24.3.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
types-PyYAML==6.0.12.20240311
typing_extensions==4.12.2
tzdata==2024.1
wrapt==1.12.1
zope.interface==6.4.post2
